<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/data/jpa
    	http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
    	http://www.springframework.org/schema/security
    	http://www.springframework.org/schema/security/spring-security.xsd
   	">

	<!-- Spring Context -->

	<context:annotation-config />
	<context:component-scan base-package="org.tailfeather" />
	<context:property-placeholder ignore-resource-not-found="false" location="classpath:tailfeather.properties" />
	<bean id="configuration" class="org.apache.commons.configuration.PropertiesConfiguration" init-method="load">
		<property name="URL" value="classpath:tailfeather.properties" />
	</bean>

	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource" p:basename="messages" />

	<!-- Spring Security -->
	<security:http auto-config="true">
		<!-- Web -->
		<security:intercept-url pattern="/admin.jsp" access="ROLE_ADMIN" />
		<security:intercept-url pattern="/web/**" access="ROLE_ADMIN" />
		<!-- API -->
		<security:intercept-url pattern="/api/user" method="POST" access="ROLE_ADMIN" />
		<security:intercept-url pattern="/api/user" method="GET" access="ROLE_ADMIN" />
		<security:http-basic />
	</security:http>
	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user name="admin" password="foonly" authorities="ROLE_ADMIN" />
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>

	<!-- Spring MVC -->
	<mvc:annotation-driven />
	<mvc:resources mapping="/static/**" location="/static/" />

	<!-- JPA: Package to scan for repositories -->
	<jpa:repositories base-package="org.tailfeather.repository" />

	<!-- Data source -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${database.driver}" />
		<property name="url" value="${database.url}" />
		<property name="username" value="${database.user}" />
		<property name="password" value="${database.pass}" />
		<property name="initialSize" value="${database.initConnections}" />
		<property name="maxActive" value="${database.maxActive}" />
		<property name="maxIdle" value="${database.maxIdle}" />
		<property name="validationQuery" value="select 1" />
		<property name="testOnBorrow" value="true" />
	</bean>

	<!-- Spring, JPA, and Hibernate -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="jpaDialect">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
		</property>
	</bean>
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- packagesToScan replaces persistence.xml -->
		<property name="packagesToScan" value="org.tailfeather.entity" />
		<property name="persistenceUnitName" value="tailfeather" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="generateDdl" value="true" />
				<property name="database" value="POSTGRESQL" />
			</bean>
		</property>
	</bean>
</beans>